 <h1 class="center">{{ title }} </h1>

<div class="container">
  <div class="row">
    <div class="col m4 s6" *ngFor="let people of peopleTable">
      <div class="card horizontal">
        <div class="card-image">
          <img [src]="people.picture" width="100" height="70">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p> {{people.name}} </p>
            <p> HP : {{people.hp}} & CP : {{people.cp}} </p>
            <p><small> {{people.types}} </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
